---

name:                             "Build"

on:
  - "push"

jobs:
  lint:
    name:                         "Linting"
    runs-on:                      "ubuntu-latest"

    steps:
      - name:                     "Cache Ruby"
        uses:                     "actions/cache@v2"
        with:
          path:                   "vendor/bundle"
          key:                    |
            ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys:           |
            ${{ runner.os }}-gems-

      - name:                     "Cache Python"
        uses:                     "actions/cache@v2"
        with:
          path:                   "~/.cache/pip"
          key:                    |
            ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys:           |
            ${{ runner.os }}-pip-

      - name:                     "Checkout Code"
        uses:                     "actions/checkout@v2"
        timeout-minutes:          5
        with:
          fetch-depth:            0

      - name:                     "Build Ruby"
        uses:                     "actions/setup-ruby@v1"
        with:
          ruby-version:           2.7

      - name:                     "Install Ruby Gems"
        run:                      >
          gem install --no-document
          rubocop
          rubocop-rspec
          rubocop-rails
          rubocop-performance

      - name:                     "Install Python Eggs"
        run:                      >
          pip install --user
          vim-vint
          mdformat==1.0.0
          mdformat-gfm==1.0.0
          mdformat-front-matters==2.0.0

      - name:                     "Install Packages"
        run:                      >
          sudo apt install -y
          shellcheck
          tidy
          yamllint

      - name:                     "Run Rubocop"
        run:                      |
          rubocop --force-exclusion

      - name:                     "Run YAMLLint"
        run:                      |
          yamllint -f "github" -d ".yamllint" .

      - name:                     "Lint Markdown"
        run:                      |
          mdformat .
